:root {
    --primary-color: #134074;
    --secondary-color: #EEF4ED;
    --accent1-color: #158A89;
    --accent2-color: #8DA9C4;
    --heading-font: "Roboto Condensed", sans-serif;
    --body-font: "Bitter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 16px;
    max-width: 80%;
}

.hero article img {
    float: right;
    width: 125px;
    border: 1px solid white;
    margin: 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

section img {
    width: 200px;
    margin: 6px;
    border-radius: 8px;
}

.socialmedia img {
    width: 30px;
    height: auto;
}

/* last change */

header {
    width: 840px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 10px;
    background-color: var(--primary-color);

}

header img {
    width: 80px;
    height: auto;
    
}

nav ul {
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
    gap: 16px;
    margin: 25px;

}

nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
    
}

.adventure {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 16px;
    padding: 16px;
    flex-direction: column;
    align-items: center;
}

.adventure figure {
    text-align: center;
    flex: 0 0 auto;
}

.adventure figcaption {
    margin-top: 8px;
    font-weight: bold;
    color: var(--primary-color);
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: var(--primary-color);
}

footer p {
    color: var(--secondary-color);
}

.socialmedia {
    display: flex;
    gap: 12px;
}

.adventure h2 {
    text-align: center;
    margin-bottom: 16px;
    color: var(--primary-color);
    font-size: 1.8rem;
}

.adventure-images {
    display: flex;
    gap: 16px;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: center;
    width: 100%;
}

.history h2 {
    text-align: center;
}

/* last day 28/07/2025 */

.contact-info h1, .employee h1, .contact-form h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.employee {
    background-color: #f9f9f9;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 2rem;
}

.contact-info {
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    align-items: center;
    background-color: #f9f9f9;
}

.titre {
    grid-column: 1 / -1; /* occupe toute la largeur */
    text-align: center;
    margin-bottom: 2rem;
}

iframe {
   border: none;
    padding: 1rem;
}

address {
  font-size: 14px;
  margin-top: 1rem;
}


figcaption {
    text-align: center;
    color: var(--primary-color); 
    font-weight: bold;
}

.employee-card {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
}
.employee-card img {
    width: 175px;
    height: auto;
    border-radius: 10px;
}

.employee-card figure {
  width: 200px;
  text-align: center;
}

.employee-card img:hover{
    cursor: pointer;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
    transform: scale(0.95);
} 

.contact-form {
  background: #f9f9f9;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0,0,0,0.1);
  width: 70%;   
  margin: 0 auto; 
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 2rem;
}

.contact-form label {
  font-weight: bold;
  color: var(--primary-color);
  font-size: 0.95rem;
  margin-bottom: 0.4rem;
}


input[type="text"],
input[type="email"],
textarea {
  grid-column: 1 / span 2;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
  font-family: var(--body-font);
  margin-bottom: 1rem;
}

.radio {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
} 


input[type="checkbox"] label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
} 

.contact-form button {
    grid-column: 1 / -1; /* bouton centré sur les 2 colonnes */
    justify-self: center;
    padding: 0.8rem 2rem;
    background-color: var(--accent1-color);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}
.contact-form button:hover{
        filter: brightness(0.8);
}