* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #8E5915;
    background-color: #1A141A ;
}

header {
    margin: 0 auto;
    width: 500px;

}

h1 {
    margin : 0.75rem;
    font-size: 1.5em;
    color: #f4b315;
    text-align: center;
}

form {
    display: grid;
    width: 500px;
    margin: 0 auto;
    padding: 0.5rem;
    border: 2px solid rgb(118, 90, 5);
    border-radius: 15px;
    background-color: #fff;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: #E59312;
    font-size: 1.25em;
}

label, input, button, select, textarea {
    font: Roboto, Arial, sans-serif;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1rem;
    color: #E59312;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    padding: .5rem;
    background-color: #f4b315;
    color: #fff;
    border: none;
    border-radius: 50px;
    font-size: 1.5rem;
    font-weight: bold;
}

button:hover {
    background-color: #fff;
    color: #f4b315;
    border: 1px solid #f4b315;
}

footer{
    width: 500px;
    height: auto;
    text-align: center;
    font-size: 20px;
    margin: 1rem auto;
    border-top: 1px solid #fff;
}

.form-item {
    display: grid;
    /* grid-gap: 1rem; */
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: auto 1fr;
    margin: 0.5rem 0;
}