/* Navigation */
nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

/* Titres */
h1 {
    color: darkblue;
}

/* Image principale dans <main> */
main img {
    width: 250px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

/* Paragraphe */
p {
    padding: 0;
}

/* Section principale */
main {
    max-width: 840px;
}

/* Élément <aside> */
aside {
    width: 300px;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f5f5f5;
    color: #333;
    text-align: center;
}

/* Image dans <aside> */
aside img {
    width: 200px;
    height: auto;
}

/* Pied de page */
footer {
    margin-top: 10px;
    border-top: 1px solid black;
    text-align: center;
}
